<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

 
 
	<test name="Validating Login Success">
		<classes>
			<class name="com.btf.qa.BasicTestFramework.CheckLoginSuccess" />
		</classes>
	</test>

	<test name="Check leaves can be assigned">

		<classes>
			<class name="com.btf.qa.BasicTestFramework.CheckAssignLeaveAccessible" />
		</classes>
	</test>
	
	<test name="Check leaves can be assigned">

		<classes>
			<class name="com.btf.qa.BasicTestFramework.CheckAssignLeaveAccessible" />
		</classes>
	</test>
	
	
	<test name="Check Employees can be added">

		<classes>
			<class name="com.btf.qa.BasicTestFramework.CheckAddEmployeefunction" />
		</classes>
	</test>


</suite> <!-- Suite -->
